# Archivos del sistema
Thumbs.db
Desktop.ini
.DS_Store

# Archivos de configuración de VS Code (opcional, por si cambia tu config local)
.vscode/
*.code-workspace

# Archivos temporales o de respaldo de Minecraft (si se generan)
*.bak
*.tmp

# Excluir carpeta de builds
# builds/Enderite Mod BP v1.1.0
# builds/Enderite Mod RP v1.1.0
